/*ページタイトル*/

.photomovie-title{ 
  background-image: url("../gigafile-1024-2c6590d9153f179eb784ad30b91343e6/9.jpg");
  background-position: 50% 57%;
}

/*movie*/

.movie{
  margin-bottom: 120px;
}
.movie-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.movie-item1{
  margin-bottom: 80px;
}
.movie a{
  display: block;
  position: relative;
}
.movie a:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0px 10px 15px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  margin: auto;
}
.movie-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}


/*photo*/
.photo-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}
.photo-list img{
  height: 300px;
  object-fit: cover;
}
.photo-ex{
  margin-bottom: 80px;
}
.photo-ex:last-of-type{
  margin-bottom: 0;
}
.photo{
  margin-bottom: 120px;
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* モーダルを最前面に表示 */
}

#largeImage, #largeIframe {
  max-width: 80%;
  max-height: 80%;
  display: block;
}

#largeIframe {
  width: 100%;
  height: 100%;
}

#closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  z-index: 1100; /* 閉じるボタンをモーダルよりも前面に表示 */
}

/*レスポンシブ*/
@media (max-width:960px){
  .photo-list{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:768px){
  .photomovie-title h2{
    font-size: 36px;
  }
  .photomovie-title .page-sub-title{
    font-size: 24px;
  }
.movie-list{
  grid-template-columns: 1fr;
}

}


@media (max-width:500px){
.photo-list{
  display: grid;
  grid-template-columns: 1fr;
}
.movie,.photo{
  margin-bottom: 80px;
}

}